* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
}

header {
    background: #1f1f1f;
    padding: 30px;
}

header h1 {
    font-size: 40px;
    color: #00d4ff;
}

main {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    width: 320px;

    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00d4ff;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;

    transition: 0.3s;
}

img:hover {
    transform: rotate(2deg) scale(1.03);
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: #00d4ff;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: white;
    transform: scale(1.1);
}

.gif {
    border: 3px solid #00d4ff;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #1f1f1f;
}
body{
    margin:0;
    height:3000px; /* só para ter rolagem */
    background: linear-gradient(#87ceeb, #dff5ff);
    overflow-x:hidden;
    font-family: Arial, sans-serif;
}

.trator {
    position: fixed;
    bottom: 40px;
    left: -250px;
    width: 220px;
    z-index: 9999;
    animation: andar 18s linear infinite;
}

@keyframes andar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw + 500px));
    }
}

/* Rodas girando */
.roda {
    transform-origin: center;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1{
    text-align:center;
    margin-top:100px;
    color:#2c3e50;
}